* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #e4e5e6; */
  background-color: #F5F5F5;

  /* background-image: url('https://media.istockphoto.com/vectors/abstract-gear-wheel-mechanism-background-machine-technology-vector-vector-id1022563038') */
}

.circle-btn {
  border-radius: 50%;
  position: fixed;
  bottom: 45px;
  right: 7px;
}

.main-body {
  position: absolute;
  left: 18%;
  top: 12%;
  align-items: center;
  flex-direction: column;
}

.card-body {
  align-items: center;
  flex-direction: column;
  margin: 1.25rem 1.25rem 0 1.25rem;
}

.card {
  width: 65rem;
  box-shadow: none;
  border: 0.5px solid #E1E1E2;
  line-height: 0.5;
  z-index: 0;
}


.card-header {
  /* background-color: #47bebe; */
  background-color: #00bcd4;
  color: white;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  border-bottom: none;
  z-index: 1;
  position: relative;
  bottom: 3rem;
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-title {
  margin: 1rem;
  margin-bottom: 0;
}

.list-group-item {
  border: none;
}

.read-only {
  background-color: #f5f4f4;
}

.center {
  text-align: center;
}

.login-form {
  align-items: center;
  padding: 5rem 6rem 5rem 7rem;
  background-image: url("https://thumbs.dreamstime.com/b/vector-light-abstract-technology-background-white-gray-gear-wheels-various-cogwheels-108595470.jpg");
}

.signup-area {
  padding: 5rem 6rem 5rem 5rem;
  background-color: #3f3f3e;
  color: white;
}

table th {
  font-size: 1rem;
  font-weight: 400;
  color: #A8A8A8;
}

table.table thead th {
border-top: none;
}

table td {
  font-size: 15px;
  font-weight: 300;
  color: black;
}

.table-striped tbody tr:nth-of-type(odd) {
background-color: #F9F9F9;
}

.error-header {
  background: #fff;
  height: 180px;
  margin-top: 3rem;
}

.error-container {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 25rem;
}

.error-container h1 {
  color: #39bbdb;
}

.error-container h1 {
  font-size: 110px;
  font-weight: 300;
  margin: -103px 0 0 0;
  text-align: center;
}

.error-divider {
  margin-top: -27px;
  padding: 30px 0;
}

.error-container h2 {
  font-size: 58px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.error-container p.description {
  color: white;
  font-size: 40px;
  margin: 0;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #dee2e6;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

select.form-control {
  border: 1px solid #dee2e6;
  height: 34px;
  margin-left: 1rem;
}

table.table thead th {
  border-top: 2px solid #dee2e6;
}

.btn-color-table {
  background-color: #3f3f3e;
  color: #FFF
}

.md-form.input-group .input-group-text {
  background-color: #3f3f3e;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  padding: none ;
  font-weight: 300;
  font-size: 16px;
}

.navbar .breadcrumb {
  /* margin-left:0.5rem; */
  font-size: 16px;
  font-weight: 300;
}

.navbar .breadcrumb .breadcrumb-item a {
    color: #63C2DE;
}

.navbar .breadcrumb .breadcrumb-item:before {
    color: #777777;
}

.navbar .breadcrumb .breadcrumb-item.active {
    color: #777777;
}

.btn-black {
    background-color: #3f3f3e !important;
    color: #fff;
    margin-left:13rem;
    padding: 12px 16px;
    border-radius: 100px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #777777;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
color:#bac2cc;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 50;
    left: 0;
    z-index: 1;
}

.sidebar {
  position:fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #3f3f3e;
  padding-top: 0;
  z-index: 3;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.p-1 {
    padding: .25rem .25rem 1rem !important;
}

.img-fluid {
  margin: 1rem;
  padding: 1rem;
  border-bottom: 1px solid hsla(0,0%,100%,.2)
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
  background-color: #3f3f3e;
  padding: 0;
  color: white;
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  color: #63C2DE;
  text-decoration: none;
}

li.list-group-item .list-group-item-undefined .list-group-item-action {
  color: #63C2DE;
}

.list-group .list-group-item:first-child {
  font-weight:400;
}

.list-group-item:hover {
  color: #bac2cc;
  text-decoration: none;
  background-color: #3f3f3e;
}

.list-group-flush {
  color: #3f3f3e;
}

.list-group-flush .list-group-item .active {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.active li {
  background-color: #3f3f3e !;
  color: #61dafb;
}

input.form-control.error {
  border-bottom: 1px solid red;
}

input.form-control.error1 {
  border: 1px solid red;
  box-shadow: 0 2px 5px 0 hsla(0, 100%, 50%, 0.158),
    0 2px 10px 0 rgba(248, 2, 2, 0.12);
}

select.browser-default.custom-select.error1 {
  border: 1px solid red;
  box-shadow: 0 2px 5px 0 hsla(0, 100%, 50%, 0.158),
    0 2px 10px 0 rgba(248, 2, 2, 0.12);
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  margin-left: 2.5rem;
  position: relative;
  bottom: 1rem;
}

.errorMessageForm {
  color: red;
  font-size: 0.75em;
  margin-left: 0.5rem;
  position: relative;
}
